@charset "UTF-8";
 CSS Document
body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

#cameraBack {
  display: flex;
  justify-content: center;
  align-items: center;
  //background-image: url("../images/0080.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

}
#glass{
  height: 85%;
  width: 100%;
  //background-image: url("../images/0080.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: inset(5em 20em);
  clip-path: inset(5em 20em);
  -webkit-filter: blur(20px);
  filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#shadow{
height: 100%;
  width: 100%;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
  display: flex;
  justify-content: center;
  align-items: center; }

 #shadow:before {
    display: block;
    content: "";
    position: absolute;
    top: 10em;

    border-top: 2px solid rgba(225, 225, 225, 0.2);
    border-left: 1px solid rgba(225, 225, 225, 0.1);
    border-right: 1px solid rgba(225, 225, 225, 0.3);
    z-index: 20; }

  #glassSpan {
    position: absolute;
    z-index: 40;
    color: #f7f7f7;
	background-image: url("../images/logoNameless.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 50%;
	  display: flex;
	  justify-content: center;
	  align-content: center;
}
.headings{
	font-family: Quasimoda, sans-serif;
	text-align: center;
	font-size: 16pt;
	font-weight: 400;
	text-decoration: none;
	position: relative;
	letter-spacing: .2em;
	top:64%;
	left: 19px;
	display: block;
	width: 100%;
	white-space: nowrap;
}
.headingsHide{
	display: none;
}



/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
#glass{
	  -webkit-clip-path: inset(2.5em);
      clip-path: inset(2.5em);
	}
	.headings{

	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	#glass{
	  -webkit-clip-path: inset(3.5em);
      clip-path: inset(3.5em);
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	#cameraBack, #glass{

	}

	#glass{
	  -webkit-clip-path: inset(5em);
      clip-path: inset(5em);
	}
	.headings{

		top:64%;
	}

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	#cameraBack, #glass{

	}
	.headings{
		top:65%;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media (min-height: 1023px) and (max-height: 1367px) {
	.headings{
		top: 67%;

	}
}



